<header class="header">
	{{> navs}}
</header>
<main class="p-5">
	<div class="card p-5">
		<h1>Всем привет</h1>
		<p id="test">
			Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World!
		</p>
		<p id="test">
			Hello World!
		</p>
		<p hidden id="test">
			Hello World!
		</p>
		<span class="span-b">
			Hello World!
		</span>
		<span class="test">
			Hello World!
		</span>

	</div>
	<pre>	tgfhgj</pre>

	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>

	<div style="margin: 50px 0 30px 100px;">
		<span>inline</span>
		<span>inline</span>
		<span>inline</span>
		<span
			class="block">inline-blockinline-blockinline-blockinline-blockinline-blockinline-blockinline-blockvv</span>
	</div>



</main>