{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

{{!-- <section class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>

    <button type="button" class="button">Купити</button>

    <p class="user"> Summary text </p>
</section>
<footer class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>

    <button type="button" class="button">Купити</button>

    <p class="user"> This is text </p>
</footer> --}}


{{!-- Цей код містить лише те, що буде виводитись в --}}

<body>
    {{!-- Адже наш layout/default.hbs має вже структуру HTML --}}


    {{!-- <div class="card p-5 m-5 card-dark">
        <ul> --}}
            {{!-- можно так сделать,
            но тогда надо дополнительно прописывать в классе item-first
            и при большом количестве это очень неудобно и трудозатратно --}}

            {{!-- <li class="item item-first">1</li> --}}

            {{!-- И что бы этого не делать, можно в файле index.css
            к селектору добавить конструкцию - :first-child--}}

            {{!-- <li class="item">1</li>
            <li class="item">2</li>
            <li class="item">3</li>
            <li class="item">4</li>
        </ul>
    </div>
    <div class="card p-5 m-5 card-dark">
        <ul>
            <li class="item">Test</li>
        </ul>
    </div> --}}

    {{!-- <div class="card p-5 m-5 card-dark">
        <div class="item"> First</div>
        <div class="item"> Second</div>
        <div class="item"> Three</div>
        <div class="item"> Forty</div>
        <div class="item"> Lert</div>
        <p class="item"> Second</p>
        <article class="item"> Last</article>
        <strong class="item">Hsujhd</strong>
        <p> NOT</p>
        <p></p>
        <article class="item"> Last</article>

        <p class="item"> Second</p>
        <article class="item"> Last</article>


    </div> --}}

    {{!-- <div class="card p-5 m-5 card-dark">
        <input class="input-dark p-5" placeholder="This is text" required>
        <input class="input-dark" type="number">
    </div>

    <div class="card p-5 m-5 card-dark">
        <img alt="image card 100px small" class="small img png txt" src="https://picsum.photos/200/300">
        <a href="https://picsum.photos/200/300" rel="externalfdsf sfds">link</a>
        <br>
        <button class="big-text btn">Click me</button>
        <br>
        <a class="small btn-secondary bigf" href="https://picsum.photos/200/300">Click me</a>

    </div>

    <div class="card p-5 m-5 card-dark">
        <p class="big-text">This is text about <br> info big test info </p>
    </div> --}}

    <div lang="fr" class="card p-5 m-5 card-dark">
        <a class="link" href="#https://www.google.com.ua">Click me</a>
    </div>
    <div lang="en" id="test" class="card p-5 m-5 card-dark">
        <input>
        <span> hello world! </span>
        <button>Test button</button>
    </div>

    <div class="p-5 m-5 card-dark">
        <button>Test button</button>
        <button disabled> Disabled button </button>
    </div>

    <div class="p-5 m-5 card-dark">
        <input class="inp" readonly>
    </div>
    <div class="p-5 m-5 card-dark">
        <input class="inp">

        <div class="mt-5">
            <div>
                <input type="checkbox" checked>
                <span>First checkbox</span>
            </div>
            <div>
                <input type="checkbox">
                <span>Second checkbox</span>
            </div>
        </div>
    </div>
    <div class="p-5 m-5 card-dark">
        <input type="email" required class="valid">
    </div>

    <div class="p-5 m-5 card-dark">
        <input type="email" class="valid">

        <div class="mt-5">
            <input type="number" min="10" max="50" class="number">
        </div>
    </div>

</body>