{{#with data}}
<div class="updates_content">
	{{!-- <img src="/img/Vector.svg" alt="'32x32'" class="updates_img"> --}}
	{{!-- <img class="updates_img"> --}}


	<div class="updates_icon_text">32x32</div>
	<svg class="updates_icon"></svg>


	<div class="updates_text">
		<p class="updates_name">{{nickname}}</p>
		<p class="updates_description">{{description}}</p>
	</div>
</div>
{{/with}}