{{#with data}}

<div class="main_content">
	<h1 class="title row_title">{{heading}}</h1>
	<p class="text row_text">{{descriotion}}</p>
	<a href="{{href}}" class="button row_button">{{button}}</a>
</div>

{{/with}}